.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.container-login form {
    width: 320px;
    height: 250px;
    padding: 15px;

    background: linear-gradient(180deg, rgba(0, 103, 172, 0) 0%, #77787b 100%);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    mix-blend-mode: normal;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.container-login form button {
    height: 45px;
    width: 160px;

    color: white;
    font-weight: 400;
    font-size: 18px;
    outline: none;

    border: none;
    cursor: pointer;

    background: linear-gradient(180deg, #77787b 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(53, 68, 79, 0) 0%, #77787b 100%);
    border-radius: 8px;

    transition: 0.5s;
}

.container-login form button:hover {
    color: #77787b;
    background: white;
}

.container-login div p {
    color: #0F084B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.container-login .login-input {
    width: 80%;
    height: 45px;
}

.container-login .password-input {
    width: 80%;
    height: 45px;
}

.title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
}

.title-name {
    font-size: 24px;
    margin-bottom: 15px !important;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}