.container-filter-info {
    background: linear-gradient(180deg, rgba(0, 103, 172, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(53, 68, 79, 0) 0%, rgba(0, 103, 172, 0.5) 100%);
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.container-principal div.row:first-of-type {
    height: 100%;
}

.row .second div {
    height: 50%;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.centralizar p {
    margin: 0px;
    text-align: center;
}

.alunos-table-div {
    max-height: 185px;
    display: block;
    overflow-y: scroll;
    padding-left: 6px;
}

tbody tr {
    cursor: pointer;
}