.container-filter-info {
    background: linear-gradient(180deg, rgba(0, 103, 172, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(53, 68, 79, 0) 0%, rgba(0, 103, 172, 0.5) 100%);
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.container-principal div.row:first-of-type {
    height: 100%;
}

.row .second div {
    height: 50%;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.centralizar p {
    margin: 0px;
    text-align: center;
}

.centralizar p:nth-child(2) {
    color: #0F084B;
    font-weight: normal;
    font-size: 20px;
}

.alunos-table-div {
    max-height: 185px;
    display: block;
    overflow: auto;
    padding-right: 0px;

    font-size: 16px;
}

.course-name {
    font-size: 35px;
    text-align: center;
    word-spacing: 9999px;
}

.line {
    flex-direction: row;
    display: flex;
}

.float{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 17%;
	right: 7%;
	background-color: #0F084B;
	border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.float:hover {
    opacity: 0.5;
}

tbody tr {
    cursor: pointer;
}

@media (max-width: 1080px) {
    .line {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .alunos-table-div {
        width: 320px;
    }
}