.container-principal .img {
    height: 200px;
    background-color: #C0C0C0;
    text-align: center;
}

.container-principal .img  img {
    height: 100%;
    width: 100%;
}

.container-principal .sobrenos-text {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}