.container-principal .img {
    width: 400px;
    height: 100px;
    background-color: #C0C0C0;
    text-align: center;
    padding: 0px;
    margin-left: 15px;
}

.container-principal .img  img {
    height: 100%;
}

.container-principal .sobrenos-text {
    color: white;
}