.container-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-principal .card {
    width: 320px;
    margin: 15px;
    background: linear-gradient(180deg, rgba(0, 103, 172, 0.5) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(53, 68, 79, 0) 0%, rgba(0, 103, 172, 0.5) 100%);
    cursor: pointer;

    transition: 0.2s;
}

.container-principal .card:hover {
    opacity: 0.8;
}

.container-principal .col-md {
    text-align: center;
    display: flex;
    align-items: center;
}

.container-principal .col-md img {
    transition: 0.2s;
    cursor: pointer;
}

.container-principal .col-md img:hover {
    opacity: 0.5;
}

.container-principal .card p {
    text-align: center;

    font-weight: 500;
    margin-bottom: 0.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}