.header-container {
    height: 80px;
    width: 100%;
    padding: 0 32px 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 103, 172, 0.1) 100%), linear-gradient(180deg, #0067AC 0%, rgba(255, 255, 255, 0) 100%);
}

.header-container .img {
    height: 80px;
    width: 150px;

    background: #C0C0C0;
}

.header-container .img img {
    margin: auto;
    display: block;
    height: 100%;
}

.header-container .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .menu a {
    padding: 20px;
    color: white;
    cursor: pointer;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    
    transition: 0.2s;
}

.header-container .menu a:hover {
    opacity: 0.5;
}

.header-container p {
    margin: 0;

    font-size: 30px;
    font-weight: 500;
    color: #0F084B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 750px) {
    .menu .elements {
        display: none;
    }

    .one, .two, .three {
        background: white;
        height: 5px;
        width: 100%;
        margin: 5px auto;

        transition: 0.2s;
    }

    .menu-toogle {
        width: 40px;
        height: 30px;

        cursor: pointer;

        transition: 0.5s;
    }

    .menu-toogle:hover {
        opacity: 0.5;
    }

    .menu.on {
        position: absolute; 
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: #0067AC;

        z-index: 10;
    }

    .menu.on .elements {
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .menu.on .menu-toogle {
        position: absolute;
        right: 32px;
        top: 25px;
    }

    .menu.on .menu-toogle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu.on .menu-toogle .two {
        opacity: 0;
    }

    .menu.on .menu-toogle .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }
}