* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font: 400 14px Roboto, sans-serif;
  
  box-shadow: inset 0px 4px 20px #000000;
  backdrop-filter: blur(5px);

  background: url('../src/assets/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  height: 100%;
}

.container-principal {
  width: 90%;
  height: calc(100vh - 180px);
  overflow-y: auto;
  
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  background: linear-gradient(180deg, #77787b 0%, rgba(255, 255, 255, 0) 150%), linear-gradient(180deg, rgba(53, 68, 79, 0) 0%, #77787b 150%);

  display: flex;
  justify-content: center;
  
  padding: 15px;
  border-radius: 12px;
}

.container-principal p {
  color: white;
}

.container-principal .number {
  font-size: 24px;
  color: #0F084B;
}

.container-principal .course {
  font-size: 22px;
} 